server {
    listen 80;
    server_name provsenovosti.ru;
    access_log /var/log/traveler/access.log;
    error_log /var/log/traveler/error.log error;

    root /home/andrey/front/build;
    index index.html index.htm index.nginx-debian.html;

    location / {
                try_files $uri $uri/ =404;
        }
}
# NEW
server {
    listen 80;
    server_name provsenovosti.ru;
    access_log /var/log/traveler/access.log;
    error_log /var/log/traveler/error.log error;

    location / {
        root /home/andrey/front/build;
        index index.html index.htm index.nginx-debian.html;
        try_files $uri /index.html;
        }
}